.back{
    background-color: rgb(14, 13, 13);
}
.fundo{
    background-image: url(TI.jpeg);
    
}
.meuNome{
    text-align: center;
    color: rgb(231, 235, 231);
    font-family: cursive;
    font-size: 70px;
    margin-top: -0px;
   
    

}
.descricao,.resido {
   text-align: justify;
   color: white;
}
.img{
    border-radius: 999px;
    float: right;
       
}
.nomeGif{
    float: left;
}
.text{
    color: aliceblue;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

